extends layout 
include _includes/sharedHTMLfunctions

block content 
    div.row.banner 
        div.col-12 
            h1 #{title}
    div.row 
        .col-12.col-lg-9 
            .row 
                .col-12.col-md-6 
                    p.rating 
                        +outputRating(rating)
                    p #{address}
                    .card.card-primary 
                        .card-block 
                            h2.card-title #{openHours.title}
                            each timing in openHours.timings
                                p.card-text #{timing}
                    .card.card-primary 
                        .card-block 
                            h2.card-title #{facilities.title}
                            each facility of facilities.list
                                span.badge.badge-warning
                                    i.fa.fa-check &nbsp;#{facility}&nbsp;
                .col-12.col-md-6.location-map 
                    .card.card-primary 
                        .card-block 
                            h2.card-title Location Map 
                            img.img-fluid.rounded(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJgjG37yPyDwQfFDMpErxeMJD-UITAkie7Lg&usqp=CAU")
            hr
            .row 
                .col-12 
                    .card.card-primary.review-card 
                        .card-block 
                            a.btn.btn-primary.float-end(href='/location/review/new') Add Review
                            h2.card-title Customer Reviews 
                            each review of reviews
                                .row.review 
                                    .col-12.no-gutters.review-header 
                                        span.rating 
                                            +outputRating(rating)
                                        span &nbsp;&nbsp;&nbsp; #{review.author}
                                        small &nbsp;&nbsp;&nbsp; #{review.timestamp}
                                    .col-12 
                                        p #{review.review}
        .col-12.col-lg-3 
            p.lead #{sidebar.lead}
            p #{sidebar.text}
